.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: anchor-center;
}

.footer-left {
    display: inline-block;


    a {
        text-decoration: none;
        color: black;
    }

    .logo {
        margin-bottom: 100px;
    }


    ul {
        gap: 8px;
        padding: 0;
        list-style: none;
        display: flex;
        margin: 0;
        justify-content: space-between;

        img {
            height: 20px;
        }
    }
}

.footer-right {
    align-items: flex-start;
    display: flex;
    gap: 20px;
}

.footer-col {
    min-width: 149px;

    h5 {
        line-height: 110%;
        font-size: 16px;
        font-weight: 500;
        height: 24px;
        padding-bottom: 24px;
    }

    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        text-decoration: none;
        color: #454545;

    }

    li {
        list-style: none;
        padding-bottom: 24px;
        height: 24px;
    }

    a:hover {
        color: #ffffff;
        background-color: #308235;
    }

}

.footer-img li {
    cursor: pointer;
}