.cards {
    padding-bottom: 120px;

    .main-cards {
        display: flex;
        gap: 24px;

        justify-content: space-between;
    }
}

.card {
    background: #fff;
    box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 32px;
    flex: 0 0 33.3%;
    box-sizing: border-box;
}

.main-heading {
    margin: 0;
}

.heading {
    margin: inherit;

    h2 {
        font-size: 40px;
        margin: 0;
    }
}

.sub-heading {
    padding-bottom: 32px;
    padding-top: 8px;

    p {
        color: #828282;
        font-size: 24px;
    }
}

.cust-img,
.cust-info {
    display: inline-block;
}

.customer {
    gap: 16px;
    display: flex;
}

.cust-desc {
    color: #828282;
}

.cust-name {

    >h4 {
        margin: 0;
    }
}

.review {
    padding-bottom: 48px;
    min-height: 90px;

    p {
        font-size: 20px;
    }

}