* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'inter', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.button {
    transition: 0.3s ease-in;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #308235;
    color: white;
}


.hero-section {
    padding: 10px;
}

.hero {
    padding-top: 110px;
    padding-bottom: 120px;

    .main-title {

        text-align: center;
        padding-bottom: 24px;

        >h1 {
            font-size: 64px;
        }
    }
}

.main-desc {
    text-align: center;
    padding-bottom: 24px;
    font-size: 24px;

    p {
        color: #828282;
        font-size: 24px;
        line-height: 150%;
    }
}

.hero-image {
    padding-top: 114px;

}

.cards {
    .main-heading {
        .heading {
            h2 {
                font-weight: 600;
                line-height: 150%;

            }
        }

        .sub-heading {
            p {
                font-weight: 400;
                line-height: 150%;
                font-size: 24px;
            }
        }
    }

    .main-cards {
        .card {
            .review {
                p {
                    line-height: 150%;
                    font-weight: 500;
                }
            }


            .cust-name {
                h4 {
                    line-height: 150%;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .cust-desc {
                p {
                    line-height: 150%;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}